@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  fill: #b8bbbe;
}
.logo:hover {
  fill: #8eb1d3;
  transition: .2s;
}
.logo:active {
  fill: #388dd3;
  transition: .2s;
  scale: .95;
}

.navlink{
  @apply p-2 rounded border border-transparent;
}
.navlink.active {
  @apply border border-blue-400 text-blue-400;
}